p, a, h1
b
{
color:black;
font-size:large 30pt;
font-family: 'Courier New', Courier, monospace;
    
}


body
{

    background-color: darkkhaki;
}


p

{
   color:darkred;
   font-size: 18pt;
   font-weight: bold;
   font-family: 'Courier New', Courier, monospace;
}

img


{
    height: 200px;
    width: 500px;
}

div
{

    max-width: 800px;
    margin:auto;
}

#main{

    text-align: center;
}
